div#about
	p Hi!
	|This application has been developed as an assignment and as a part of my personal interview process at 'True Sparrow Systems, Pune'.
	|Sample data have been taken from timeoutdubai.com for a non commercial purpose. It simply intents to
	|serve the 'Lorem ipsum' purpose to this web application. Nontheless, if you have any concerns with the data used,
	| you can reach me at ndgandhi.88@gmail.com
	p - Nirav D. Gandhi	