doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		header
			h1 ALaCarte
			li
				a.nav(href="/") HOME
			li
				a.nav(href="/about") ABOUT
		div#content!= body			